@charset "utf-8";
/* CSS Document */

body
{
	background:#000;
	color:#FFF;
}

#crystal
{
	position:absolute;
	top:70px;
	left:550px;
}
#tarang
{
	position:absolute;
	top:10px;
	left:120px;
}

#list
{
	position:absolute;
	top:200px;
	left:170px;
	width:150px;
}




#forum
{
	border:0px;

}
#forum:hover
{
	
	border:solid;
	border-color:#FFF;
	border-width:2px;
	border-radius:15px;
	-moz-border-radius:15px;
}
#inst
{
	border:0px;
	

}
#inst:hover
{
	
	border:solid;
	border-color:#FFF;
	border-width:2px;
	border-radius:15px;
	-moz-border-radius:15px;
}
#team
{
	border:0px;

}
#team:hover
{
	
	border:solid;
	border-color:#FFF;
	border-width:2px;
	border-radius:15px;
	-moz-border-radius:15px;
}
#leaderboard
{
	border:0px;

}
#leaderboard:hover
{
	
	border:solid;
	border-color:#FFF;
	border-width:2px;
	border-radius:15px;
	-moz-border-radius:15px;
}
#logout
{
	border:0px;

}
#logout:hover
{
	
	border:solid;
	border-color:#FFF;
	border-width:2px;
	border-radius:15px;
	-moz-border-radius:15px;
}

#board
{
	position:absolute;
	top:180px;
	right:60px;
}

#lb
{
	border:#FFF;
	
	
}

#title
{
	color:#FFF;
	font-size:24px;
	font-variant:small-caps;
}

#quesbox
{
	position:absolute;
	top:200px;
	left:340px;
	width:730px;
	height:450px;
	
}
#fb
{
	position:absolute;
	top:400px;
	left:50px;
}